:root {
  /* Colors */
  --btn-icon-fill: rgb(95, 99, 104);
  --btn-hover-bg: rgba(60, 64, 67, 0.08);

  --sidenav-item-hover: rgb(241, 243, 244);
  --sidenav-item-selected: rgb(254, 239, 195);

  --color-gray-light-1: rgb(241, 243, 245);
  --color-gray-light-2: rgb(222, 226, 230);

  --color-gray-dark-1: rgb(95, 99, 104);
  --color-gray-dark-2: rgb(32, 33, 36);
  --color-gray-dark-3: rgb(60, 64, 67);

  --background-dark: rgb(241, 243, 244);

  --box-shadow-standard: 0 1px 1px 0 rgba(65, 69, 73, 0.3);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* 10/16 -> 1 rem = 10px*/
  font-size: 62.5%;
  height: 100%;

  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  height: 100%;

  display: grid;
  grid-template-columns: 30rem 1fr;
  grid-template-rows: 6.4rem auto;
}
